.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 8px;
  background-color: #f9f9f9;
}

.todoItem p {
  margin: 0;
  flex: 1;
  margin-left: 5px;
  font-size: 20px;
}

.todoItem button {
  margin-left: 8px;
  padding: 10px 8px;
  background-color: #ff4d4d;
  color: white;
  cursor: pointer;
  border: none;
}

.todoText {
  display: flex;
}

.strike {
  text-decoration: line-through;
}

.strikeBtn {
  margin-bottom: 2px;
}

.textPara {
  min-width: 100%;
}