* {
  margin: 0;
  padding: 0;
}

.main {
  margin: 30px;
  background-color: #e4e8bd;
  padding: 30px;
  border-radius: 5px;
  min-height: 85vh;
}

.topBar {
  display: flex;
}

.heading {
  margin-bottom: 30px;
  font-size: 3rem;
}